In [66]:
import pickle 
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [67]:
model=pickle.load(open('final_prediction.pkl',"rb"))

In [68]:
si=pd.read_csv('test1.csv')

In [69]:
lb=LabelEncoder()
si['salary']=lb.fit_transform(si['salary'])

In [70]:
si['department']=lb.fit_transform(si['department'])

In [71]:
print(model.predict(si))

[0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 1
 1 0 0 1]

In [72]:
d={}

In [73]:
d['satisfaction_level']=0.38
d['last_evaluation']=0.53
d['number_of_projects']=2
d['average_monthly_hours']=157
d['years_at_company']=3
d['work_accident']=0
d['promotion_last_5years']=0
d['department']=7
d['salary']=1

In [74]:
d1=pd.DataFrame(d,index=[0])

In [75]:
print(model.predict(d1))

[1]

In [76]:
g=pd.DataFrame(d,index=[0])

In [77]:
g

,satisfaction_level,last_evaluation,number_of_projects,average_monthly_hours,years_at_company,work_accident,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,0,7,1

In [78]:
si

,satisfaction_level,last_evaluation,number_of_projects,average_monthly_hours,years_at_company,work_accident,promotion_last_5years,department,salary
0,0.450,0.45,3,256,4,0,0,7,1
1,0.340,0.89,6,351,3,0,0,7,2
2,0.140,0.82,9,234,5,0,0,7,2
3,0.670,0.24,5,143,3,0,0,7,1
4,0.451,0.47,4,136,4,0,0,2,1
...,...,...,...,...,...,...,...,...,...
73,0.390,0.47,1,127,3,0,0,5,2
74,0.440,0.54,2,146,4,0,0,5,2
75,0.130,0.64,6,253,3,0,0,5,0
76,0.340,0.99,4,227,2,0,0,7,2
77,0.310,0.81,7,301,1,1,0,7,1